<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start" color="secondary">
      <ion-menu-button color="secondary"></ion-menu-button  >
    </ion-buttons>
    <ion-title>Meu App</ion-title>
    
    <ion-button slot="end" expand="block" size="small" color="secondary" href="/perfil">
      <input-label>Login</input-label>
    </ion-button>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Bem-vindo</strong>
    <p>Jaja Novidades<a target="_blank" rel="noopener noreferrer"></a></p>
  </div>
</ion-content>
